/* Enter your custom styles here */
/* Enter your custom styles here rgba(66,124,172,0.4) */

.customCSS .yellowTileColor {
    background: #FFFF00;
}

.customCSS .greenTileColor {
    background: #00FF00;
}

.customCSS .blueTileColor {
    background: #5DADE2;
}

.customCSS .purpleTileColor {
    background: #A569BD;
}

.customCSS .redTileColor {
    background: #F1948A;
}

.customCSS .orangeTileColor {
    background: #E67E22;
}

.customCSS .pinkTileColor {
    background: #eea5cd;
}


.customCSS .sapUiIcon2 {
   
    color: #000000;
 
}